body {
    background-color: slategray;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: #a6ddff;
    width: 1920px;
    margin: 0 auto;
    min-height: 1080px;
    padding: 32px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 85%;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #A6C1FF;
    color: #000000;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}
.myButton:active {
    position:relative;
    top:1px;
}